
.controls {
	padding: 50px;
	text-align: center;
}
a {
	color: black;
	text-decoration: none;
	font-size: 25px;
	margin: 15px;

}
.stopwatch {
	color: inherit;
	font-size: 60px;
	min-height: 300px;
	min-width: 300px;
	text-align: center;
}
.results {
	color: brown;
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
	max-width: 200px;
	list-style-type: none;
}
body {
	background-color: beige;
	color: #B5B7B8;
}
